{% extends 'base.html' %}
{% load static %}

{% block content %}

{% if messages %}
    {% for message in messages %}
    {% with message.level as level %}
    {% if level == 40 %}
    <div class="container-fluid sub-container">
        <div class="row">
            <div class="col text-center">
                <h1 class="text-center uppercase">Did you forgot?</h1>
                <h2 class="text-center mt-5 mb-5">{{ message }}</h2>
                <!-- BACK TO SITE BUTTON -->
                <a href="{% url 'home' %}" class="shop-now-button btn btn-md uppercase rounded-0">Back To Site</a>
            </div>
        </div>
    </div>
    {% elif level == 30 %}
    <div class="container-fluid sub-container">
        <div class="row">
            <div class="col text-center">
                <h1 class="text-center uppercase">Warning!</h1>
                <h2 class="text-center mt-5 mb-5">{{ message }}</h2>
                <!-- BACK TO SITE BUTTON -->
                <a href="{% url 'home' %}" class="shop-now-button btn btn-md uppercase rounded-0">Back To Site</a>
            </div>
        </div>
    </div>
    {% elif level == 25 %}
    <div class="container-fluid sub-container">
        <div class="row">
            <div class="col text-center">
                <h1 class="text-center uppercase">Thanks for subscribing!</h1>
                <h2 class="text-center mt-5 mb-5">{{ message }}</h2>
                <!-- BACK TO SITE BUTTON -->
                <a href="{% url 'home' %}" class="shop-now-button btn btn-md uppercase rounded-0">Back To Site</a>
            </div>
        </div>
    </div>
    {% else %}
    <div class="container-fluid sub-container">
        <div class="row">
            <div class="col text-center">
                <h1 class="text-center uppercase">Subscription Page</h1>
                <h2 class="text-center mt-5 mb-5">{{ message }}</h2>
                <!-- BACK TO SITE BUTTON -->
                <a href="{% url 'home' %}" class="shop-now-button btn btn-md uppercase rounded-0">Back To Site</a>
            </div>
        </div>
    </div>
    {% endif %}
    {% endwith %}
    {% endfor %}
{% endif %}


{% endblock %}