{% extends "base.html" %}
{% load static %}
{% load bag_tools %}


{% block extra_css %}
<link rel="stylesheet" href="{% static 'bag/css/bag.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<!-- SHOPPING BAG -->
<div class="shopping-bag-continer container mt-5">
    <div class="row">
        <div class="col">
            <h2 class="logo-font mb-4">
                Shopping Bag
            </h2>
        </div>
    </div>
    <div class="row">
    {% if bag_items %}
        {% for item in bag_items %}
        <div class="col-12 col-md-6 col-lg-4 bag-item-container">
            <div class="col-5 col-md-4 bag-image pb-2">
                <!-- PRODUCT IMAGE -->
                {% if item.product.image %}
                <img class="img-fluid rounded" src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
                {% else %}
                <img class="img-fluid rounded" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.product.name }}">
                {% endif %}
                <!-- QUANTITY SELECTOR -->
                <form class="form update-form" method="POST" action="{% url 'adjust_bag' item.item_id %}">
                    {% csrf_token %}
                    <div class="form-group w-100">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <button class="decrement-qty btn rounded-0" data-item_id="{{ item.item_id }}"
                                    id="decrement-qty_{{ item.item_id }}" aria-label="decrement quantity button">
                                    <span>
                                        <i class="fas fa-minus fa-sm"></i>
                                    </span>
                                </button>
                            </div>
                            <input class="form-control qty_input text-center" type="number" name="quantity"
                                value="{{ item.quantity }}" min="1" max="99" data-item_id="{{ item.item_id }}"
                                id="id_qty_{{ item.item_id }}" aria-label="quantity input">
                            <div class="input-group-append">
                                <button class="increment-qty btn rounded-0" data-item_id="{{ item.item_id }}"
                                    id="increment-qty_{{ item.item_id }}" aria-label="increment quantity button">
                                    <span>
                                        <i class="fas fa-plus fa-sm"></i>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
                <a class="btn btn-md update-link account-button rounded-0 p-2 w-100 uppercase"><small>Update</small></a>
            </div>
            <!-- PRODUCT INFORMATION -->
            <div class="col-7 col-md-8 item-info pt-1">
                <p class="my-0"><strong class="mt-4">{{ item.product.name }}</strong> <a class="remove-item text-danger"
                        id="remove_{{ item.item_id }}"><small><i class="far fa-trash-alt"></i></small></a></p>
                <p class="my-0 small text-muted">SKU: {{ item.product.sku|upper }}</p>
                <p class="mt-2"><strong>${{ item.product.price | calc_subtotal:item.quantity }}</strong></p>
            </div>
        </div>
        <hr class="d-md-none">
        {% endfor %}
        <div class="row mt-2">
            <hr class="d-none d-md-block">
            <div class="col-12">
                <!-- BAG TOTAL -->
                <p class="mb-0"><strong>Bag Total: ${{ total|floatformat:2 }}</strong></p>
                <p>Delivery: ${{ delivery|floatformat:2 }}</p>
                <p class="mt-4 grand-total"><strong>Grand Total: ${{ grand_total|floatformat:2 }}</strong></p>
                {% if free_delivery_delta > 0 %}
                <p class="mb-1 text-danger">
                    You could get free delivery by spending just <strong>${{ free_delivery_delta }}</strong> more!
                </p>
                {% endif %}
                <!-- BACK TO PRODUCTS BUTTON -->
                <a href="{% url 'products' %}" class="shop-now-button btn btn-md rounded-0 text-uppercase">
                    <span class="icon">
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    <span class="text-uppercase">Keep Shopping</span>
                </a>
                <!-- GO TO CHECKOUT BUTTON -->
                <a href="{% url 'checkout' %}" class="add-button btn btn-lm rounded-0 text-uppercase">
                    <span class="text-uppercase">Secure Checkout</span>
                    <span class="icon mb-1">
                        <i class="fas fa-lock"></i>
                    </span>
                </a>
            </div>
        </div>
        {% else %}
        <!-- SHOPPING BAG IF NOTHING IN THE BAG -->
        <div class="row">
            <div class="col">
                <p class="lead mb-5">Your bag is empty.</p>
                <a href="{% url 'products' %}" class="shop-now-button btn btn-md rounded-0 text-uppercase">
                    <span class="icon">
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    <span class="text-uppercase">Keep Shopping</span>
                </a>
            </div>
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}

<script>
    // UPDATE QUANTITY ON CLICK
    $('.update-link').click(function (e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })
    // REMOVE ITEM ON CLICK
    $('.remove-item').click(function (e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var size = $(this).data('product_size');
        var url = `/bag/remove/${itemId}/`;
        var data = {
            'csrfmiddlewaretoken': csrfToken,
            'product_size': size
        };

        $.post(url, data)
            .done(function () {
                location.reload();
            });
    })
</script>

{% endblock %}