{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="row hero-container">

</div>

<div class="row shopnow-container">
<a href="" id="shopnow" class="col-6 col-sm-6 col-md-4 col-lg-2">
    <div id="shopnow-inner" class="hvr-round-corners">
        <h1>Decks</h1>
    </div>
</a>
<a href="" id="shopnow" class="col-6 col-sm-6 col-md-4 col-lg-2">
    <div id="shopnow-inner" class="hvr-round-corners">
        <h1>Wheels</h1>
    </div>
</a>
<a href="" id="shopnow" class="col-6 col-sm-6 col-md-4 col-lg-2">
    <div id="shopnow-inner" class="hvr-round-corners">
        <h1>Trucks</h1>
    </div>
</a>
<a href="" id="shopnow" class="col-6 col-sm-6 col-md-4 col-lg-2">
    <div id="shopnow-inner" class="hvr-round-corners">
        <h1>Bearings</h1>
    </div>
</a>
<a href="" id="shopnow" class="col-6 col-sm-6 col-md-4 col-lg-2">
    <div id="shopnow-inner" class="hvr-round-corners">
        <h1>Griptape</h1>
    </div>
</a>
<a href="" id="shopnow" class="col-6 col-sm-6 col-md-4 col-lg-2">
    <div id="shopnow-inner" class="hvr-round-corners">
        <h1>Misc</h1>
    </div>
</a>
</div>
{% endblock %}