/* ---------------------- HERO SECTION ---------------------- */

.hero-container h1 {
    font-weight: 700;
}

.hero-container p:first-child {
    padding-top: 13rem;
}

.hero-logo {
    font-family: 'Pacifico', sans-serif;
    color: #222!important;
}

/* ---------------------- CAROUSEL ---------------------- */

.carousel {
    padding-left: 0px;
    padding-right: 0px;                                                              
}

.carousel-item img {
    width: 100%;
    height: auto;
}

.carousel-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: 0%!important;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: center;
    width: 100%;
}

.dot1,
.dot2 {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: #fff;
}

.dot1 {
    position: relative;
    top: 5%;
    left: 46%;
    transform: translate(-50%, -50%);
}

.dot2 {
    position: relative;
    top: 75%;
    left: 40%;
    transform: translate(-50%, -50%);
}

.dot-text,
.dot-text2 {
    position: absolute;
    padding: 1rem;
    width: 10rem;
    text-align: left!important;
    background-color: rgba(255, 255, 255, 0.897);
    color: #222;
    border-radius: 2%;
    display: none;
}

.dot-text a,
.dot-text2 a {
    color: #222;
    font-weight: 700;
}

.dot-text a:hover, 
.dot-text2 a:hover{
    color: #764c87;
    transition: .5s ease-in-out;
}

/* ---------------------- SHOPNOW SECTION ---------------------- */

.shopnow-container {
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
}

.shopnow-container .logo-font {
    font-size: 2rem;
}

a.shopnow {
    text-decoration: none;
    color: black;
}

.shopnow {
    position: relative;
    text-align: center;
    min-height: 15rem;
    padding-bottom: 12px;
    padding-top: 12px;
    padding-left: 6px;
    padding-right: 6px;
}

#shopnow-inner {
    position: relative;
    background-color: #764c87;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    color:#fff;
    box-shadow: 8px 5px 18px -3px rgba(0,0,0,0.70);
}

#shopnow-inner h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 700;
    color: white;
}

.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 85%;
    width: 90%;
    opacity: 0;
    background-color: #764c87b9;
}

.middle h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
}

.middle:hover {
    transition: .5s ease-in-out;
    opacity: 1;
}

.bg-shopnow {
    background-color: #fff;
}


/* ---------------------- HIGHLY RATED PRODUCTS ---------------------- */

.rated-container {
    background-color: #764c87;
    box-shadow: 0px 7px 8px -6px rgba(0,0,0,0.79);
}

.rated-container .logo-font,
#btn_loadless i,
#btn_loadmore i  {
    font-size: 2rem;
    color: #fff;
}

.rated-container .card,
.rated-container img {
    border: none;
}

.rated-container .card {
    box-shadow: 0px 7px 8px -6px rgba(0, 0, 0, 0.356);
}

.rated-products {
    display: none;
    margin-bottom: 1.5rem;
}

.rated-products:nth-child(1),
.rated-products:nth-child(2),
.rated-products:nth-child(3),
.rated-products:nth-child(4) {
    display: block;
}

#btn_loadless i:hover,
#btn_loadless i:active,
#btn_loadless i:focus,
#btn_loadmore i:hover, 
#btn_loadmore i:focus, 
#btn_loadmore i:active {
    color: #492857;
    transition: .5s ease-in-out;
}

#btn_loadless i:focus,
#btn_loadmore i:focus {
    box-shadow: none!important;
}

.btn:focus {
    box-shadow: none!important;
}

.rated-products .card-body p:first-child, 
.rated-products .card-body p:last-child {
    font-size: .7rem;
}

.rated-products i {
    color: #764c87;
}

/* ---------------------- MEDIA QUERIES ---------------------- */

/* Extra small devices (portrait phones, less than 427px) */
@media (max-width: 426.98px) {
    .shopnow {
        min-height: 9rem;
    }

    #shopnow-inner img,
    .shopnow:last-child #shopnow-inner img:first-child {
        width: 3rem!important;
        height: 3rem!important;
    } 

    .shopnow-container {
        width: 100%;
    }

    .middle h3 {
        font-size: 1.5rem!important;
    }
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .hero-logo {
        font-size: 3rem;
    }

    .hero-container p:first-child {
        padding-top: 10rem;
    }

    .carousel {
        box-shadow: 8px 5px 18px -3px rgba(0,0,0,0.70);
    }

    .shopnow-container {
       width: 90%;
    }

    .middle {  
        height: 80%;
    }

    .middle h3 {
        font-size: 2rem;
    }

    .header-container {
        padding-top: 5rem;
    }

    .shopnow:first-child,
    .shopnow:nth-child(2),
    .shopnow:nth-child(3),
    .shopnow:nth-child(4) {
        padding-bottom: 6px;
    }

    .shopnow:nth-child(3),
    .shopnow:nth-child(4),
    .shopnow:nth-child(5),
    .shopnow:last-child {
        padding-top: 6px;
    }

    .rated-container {
        margin-top: 0rem!important;
    }

    .rated-products {
        padding: 6px;
        margin-bottom:0px;
    }

    .rated-container .logo-font,
    .shopnow-container .logo-font {
        font-size: 1.5rem;
    }

    .shopnow:last-child #shopnow-inner img:first-child {
        width: 5rem;
        height: 5rem;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .hero-logo {
        font-size: 5rem;
    }

    .shopnow:first-child,
    .shopnow:nth-child(2),
    .shopnow:nth-child(3),
    .shopnow:nth-child(4) {
        padding-bottom: 6px;
    }

    .shopnow:nth-child(3),
    .shopnow:nth-child(4),
    .shopnow:nth-child(5),
    .shopnow:last-child {
        padding-top: 6px;
    }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .hero-logo {
        font-size: 6rem;
    }

    .shopnow:first-child,
    .shopnow:nth-child(2),
    .shopnow:nth-child(3) {
        padding-bottom: 6px;
    }

    .shopnow:nth-child(3) {
        padding-top: 12px;
    }

    .shopnow:nth-child(4) {
        padding-bottom: 12px;
    }

    .shopnow:last-child,
    .shopnow:nth-child(4),
    .shopnow:nth-child(5) {
        padding-top: 6px;
    }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) { 
    .header-container {
        padding-top: 5rem;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .shopnow {
        min-height: 15rem;
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .container {
        max-width: 60%!important;
    }
}

@media (min-width: 1400px) {
    .hero-logo {
        font-size: 8rem;
    }
    
    .shopnow {
        min-height: 20rem;
    }

    .middle h3 {
        font-size: 2.5rem;
    }
}

/* MEDIA QUERIES LANDSCAPED PHONES */

@media only screen and (min-width: 279px) and (max-width: 736px) and (orientation: landscape) {
    .hero-container p:first-child {
        padding-top: 9rem;
    }
    
    /* REMOVED MARGIN FROM SHOP-NOW-BUTTON */
    .hero-container .my-5 {
        margin: 0rem!important;
    }
}

@media only screen and (min-width: 375px) and (max-width: 823px) and (orientation: landscape) {
    .hero-container p:first-child {
        padding-top: 9rem;
    }

    /* REMOVED MARGIN FROM SHOP-NOW-BUTTON */
    .hero-container .my-5 {
        margin: 0rem!important;
    }
}