/* ---------------------- BACKGROUND COLORS ---------------------- */

.bg-shopnow {
    background-color: #fff;
}

.hero-container h1 {
    font-weight: 700;
    
}

.hero-container p:first-child {
    padding-top: 13rem;
}

.hero-logo {
    font-family: 'Pacifico', sans-serif;
    color: #222!important;
}

.carousel {
    padding-left: 0px;
    padding-right: 0px;
}

.shopnow-container {
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
}

a#shopnow {
    text-decoration: none;
    color: black;
}

#shopnow {
    position: relative;
    text-align: center;
    min-height: 15rem;
    padding-bottom: 12px;
    padding-top: 12px;
    padding-left: 6px;
    padding-right: 6px;
}


#shopnow-inner {
    position: relative;
    background-color: #333;
    /* border-radius: 15px; */
    width: 100%;
    height: 100%;
    margin: 0 auto;
    color:#fff;
    box-shadow: 8px 5px 18px -3px rgba(0,0,0,0.70);
}

#shopnow-inner h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 700;
    color: white;
}

.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 85%;
    width: 90%;
    /* border-radius: 15px; */
    opacity: 0;
    background-color: rgba(51, 51, 51, 0.849);
}

.middle h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
}

/* ---------------------- MEDIA QUERIES ---------------------- */

/* Extra small devices (portrait phones, less than 427px) */
@media (max-width: 426.98px) {
    #shopnow {
        min-height: 9rem;
    }
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .hero-logo {
        font-size: 3rem;
    }

    .shopnow-container {
        padding-left: 3px;
        padding-right: 3px;
    }

    .middle {  
        height: 80%;
    }

    #shopnow-inner img {
        width: 3rem;
        height: 3rem;
    }

    .middle h1 {
        font-size: 1.2rem;
    }

    .header-container {
        padding-top: 5rem;
    }

    #shopnow:first-child,
    #shopnow:nth-child(2),
    #shopnow:nth-child(3),
    #shopnow:nth-child(4) {
        padding-bottom: 6px;
    }

    #shopnow:nth-child(3),
    #shopnow:nth-child(4),
    #shopnow:nth-child(5),
    #shopnow:last-child {
        padding-top: 6px;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .hero-logo {
        font-size: 5rem;
    }

    #shopnow:first-child,
    #shopnow:nth-child(2),
    #shopnow:nth-child(3),
    #shopnow:nth-child(4) {
        padding-bottom: 6px;
    }

    #shopnow:nth-child(3),
    #shopnow:nth-child(4),
    #shopnow:nth-child(5),
    #shopnow:last-child {
        padding-top: 6px;
    }

    .carousel {
        padding-right: 1rem!important;
        padding-left: 1rem!important;
    }
}


/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .hero-logo {
        font-size: 6srem;
    }

    #shopnow:first-child,
    #shopnow:nth-child(2),
    #shopnow:nth-child(3) {
        padding-bottom: 6px;
    }

    #shopnow:nth-child(3) {
        padding-top: 12px;
    }

    #shopnow:nth-child(4) {
        padding-bottom: 12px;
    }

    #shopnow:last-child,
    #shopnow:nth-child(4),
    #shopnow:nth-child(5) {
        padding-top: 6px;
    }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) { 
    .header-container {
        padding-top: 5rem;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #shopnow {
        min-height: 15rem;
    }
}

@media (min-width: 1400px) {
    .hero-logo {
        font-size: 10rem;
    }
    #shopnow {
        min-height: 20rem;
    }


    .middle h1 {
        font-size: 2.5rem;
    }
}

.middle:hover {
    transition: .5s ease-in-out;
    opacity: 1;
}