.profile-container {
    min-height: 70vh;
    margin-top: 10rem;
}

.profile-form-input::placeholder {
    color: rgb(107, 107, 107) ;
}

#id_default_country,
#id_default_country option:not(first-child) {
    color: #222;
}

#id_default_country option:first-child {
    color: rgb(107, 107, 107);
}