/* ---------------------- FONTS FROM GOOGLEFONTS ---------------------- */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

html {
    height: 100%;
}

body {
    background-color: #fff;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    font-family: 'Oswald', sans-serif;
    overflow-x: hidden;
    color: #222;
    scroll-behavior: smooth;
    height: calc(100vh - 164px);
}

footer {
    background-color: #222;
    color: #fff;
    min-height: 20rem;
}

/* ---------------------- NAVBAR ---------------------- */

#topnav {
    height: 6rem;
    box-shadow: 0px 7px 8px -6px rgba(0,0,0,0.79);
}

#mobile-nav {
    box-shadow: 0px 7px 8px -6px rgba(0,0,0,0.79);
}

#mobile-nav hr {
    margin-bottom: 0px;
}

#mobile-nav hr:last-child {
    margin-bottom: 16px;
}

#mobile-nav .nav-item:not(.nav-item:first-child) {
    text-transform: uppercase;
}

a.nav-link {
    font-size: .7rem;
    font-weight: 800;
    color: black!important;
}

.navbar-light .navbar-toggler {
    color: rgba(0,0,0,.55);
    border-color: rgba(255, 255, 255, 0);
}

.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: 0 0 0 0.1rem;
}

.bg-light {
    background-color: #fff!important;
}

.mobile-top-header li {
    padding-top: 1.3rem;
}

.dropdown-menu a {
    font-weight: 700;
    text-transform: capitalize;
}

#delivery-banner {
    background: rgb(34,34,34);
    background: linear-gradient(90deg, rgba(34,34,34,1) 0%, rgba(51,51,51,1) 49%, rgba(68,68,68,1) 100%);
    color: #fff;
}

#delivery-banner h4 {
    font-weight: 700;
}

.dropdown-menu.show {
    display: block;
}

.dropdown-search {
    background-color: #fff!important;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 0.25rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    left: 0; 
    box-shadow: 0px 7px 8px -6px rgba(0,0,0,0.79);
}

.dropdown-search .form-control {
    border: 0!important;
    font-weight: 700;
    padding-left: 0;
}

.dropdown-search .input-group {
    border-bottom: 2px solid rgba(34, 34, 34, 0.466)!important;
}

.dropdown-search p {
    margin-bottom: .5rem;
}

.dropdown-menu {
    background-color: #fff!important;
    box-shadow: 0px 7px 8px -6px rgba(0,0,0,0.79);
}

.navbar-brand h2 {
    font-family: 'Pacifico', sans-serif;
    color: #222!important;
    border-color: #764c87;
}

a.nav-link.main-logo-link.navbar-brand {
    padding-top: 1.5rem;
}

.main-nav-logo {
    font-size: 2rem;
}

li.nav-item {
    line-height: 1rem;
} 

#mobile-nav h2 {
    margin-left: 7rem;
}

.dropdown-menu button {
    font-size: 1.5rem;
    margin-left: .5rem;
}

.dropdown-search input[type="text"]:focus {
    border-color: none!important;
    box-shadow: none!important;
    outline: 0 none;
}

/* NAVBAR HOVER  */

a.nav-link:hover,
.footer-bottom a:hover {
    color: #764c87!important;
    transition: .4s ease-in-out;
    text-decoration: underline;
}

.navbar-brand h2:hover {
    color: #764c87!important;
    transition: 8ms ease-in-out;
}

.dropdown-menu button:hover {
    color: #764c87;
    transition: .5s ease-in-out;
}

/* ---------------------- CONTAINERS ---------------------- */

.search-container {
    text-align: end;
    text-transform: capitalize;
} 

.error-container {
    min-height: 70vh;
    margin-top: 10rem;
}

.info-container {
    position: relative;
    text-align: center;
}

.info-container img {
    width: 100%;
    height: auto;
}

.info-container p {
    font-size: 1.5rem;
}

.info-container .img-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.7);
}

/* ---------------------- FOOTER ---------------------- */

.sub-header {
    padding-top: .6rem;
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 0rem;
}

.support-header {
    font-weight: 500;
    text-decoration: underline;
    font-size: 1.2rem;
}

.footer-bottom a {
    color: #fff;
    text-decoration: none;
}

.footer-bottom ul {
    position: relative;
    display: flex;
    list-style: none;
    padding-left: 0rem!important;
}

.footer-bottom i {
    font-size: 1rem;
    margin-right: 1rem;
}

.form-group.subscribe {
    position: relative;
    display: inline-flex;
}

.subscribe-button {
    background: #764c87;
    color: #fff;
    min-width: 160px;
    font-weight: 700;
    border: 3px solid #764c87;
}

.subscribe-button p {
    margin: 0px;
}

.subscribe-button:hover,
.subscribe-button:active,
.subscribe-button:focus {
    background: #492857;
    color: #fff;
    border: 3px solid #492857;
    transition: .4s ease-in-out;
}


/* ---------------------- MEDIA QUERIES ---------------------- */

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    a.nav-link {
        padding-left: .1rem;
        padding-right: .1rem;
    }

    #delivery-banner h4 {
        font-size: .8rem;
    }

    #mobile-nav h2 {
        margin: 0;
    }
    
    .toast {
        max-width: 250px;
    }

    .arrow-up {
        right: 12px!important;
    }

    .subscribe-button {
        min-width: unset;
    }

    .footer-bottom i {
        font-size: 1.5rem;
        margin-right: .4rem;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    a.nav-link {
        padding-left: .1rem;
        padding-right: .1rem;
    }

    .message-container {
        margin-top: .9rem;
    }

    .arrow-up {
        right: 12px!important;
    }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { 
    .support-header {
        padding-top: 1rem;
    }

    .footer-bottom {
        margin-top: 0rem!important;
    }

    .footer-bottom p:last-child {
        margin-bottom: 0rem!important;
    }

    .footer-bottom i {
        font-size: 2rem;
        padding-right: 1rem;
    }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    #main-nav a.nav-link {
        font-size: 1.5rem;
        padding-top: 1.4rem;
    }

    .footer-top {
        padding-bottom: .8rem;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    a.nav-link {
        padding-left: .3rem;
        padding-right: .3rem;
    }

    .arrow-up {
        right: 26px!important;
    }

    .message-container {
        margin-top: 0;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    a.nav-link {
        padding-left: .8rem;
        padding-right: .8rem;
    }

    .arrow-up {
        right: 36px!important;
    }
}

/* XX-large devices (xx-large desktops, 1400px and up) */
@media (min-width: 1400px) {
    a.nav-link {
        font-size: .9rem;
        padding-left: .9rem;
        padding-right: .9rem;
    }
}

/* MEDIA QUERIES LANDSCAPED PHONES */

@media only screen and (min-width: 279px) and (max-width: 736px) and (orientation: landscape) {
    #delivery-banner h4 {
        font-size: 1rem;
    }

    #main-nav a.nav-link {
        font-size: 1rem;
        padding-top: .4rem;
        padding-bottom: .4rem;
    } 
}

@media only screen and (min-width: 375px) and (max-width: 823px) and (orientation: landscape) {
    #delivery-banner h4 {
        font-size: 1rem;
    }
    #main-nav a.nav-link {
        font-size: 1rem;
        padding-top: .4rem;
        padding-bottom: .4rem;
    }
}

/* ---------------------- ACCOUNTS ---------------------- */
/* ------------- For django allauth templates ----------- */

.account-header {
    margin-top: 10rem;
}

.account-container {
   min-height: 80vh;
}

.account-container .form-control {
    margin-bottom: 1rem;
    color: #222;
}

.account-container p {
    margin-top: 1rem;
}

.account-container p a {
    color: #222;
}

.account-container a {
    color: #222;
    font-weight: 700;
}

.account-container p a:hover,
.account-container p a:active,
.account-container p a:focus,
.account-container a:hover,
.account-container a:active,
.account-container a:focus {
    color: #764c87!important;
    transition: .4s ease-in-out;
}

.account-container button {
    margin-top: 1rem;
    width: 100%;
}

.form-check-input:checked {
    background-color: #764c87;
    border-color: #764c87;
}

.account-button {
    background: #764c87;
    color: #fff;
    font-weight: 700;
    border: 3px solid #764c87;
}

.account-button:hover,
.account-button:active,
.account-button:focus {
    background: #492857;
    color: #fff;
    border: 3px solid #492857;
    transition: .4s ease-in-out;
}

.account-secoundary-btn {
    color: #764c87;
    min-width: 180px;
    font-weight: 700;
    border: 3px solid #764c87;
}

.account-secoundary-btn:hover,
.account-secoundary-btn:active,
.account-secoundary-btn:focus {
    background: #764c87;
    color: #fff;
    transition: .4s ease-in-out;
}

.remove-button{
    color: #ff0505;
    border: 3px solid #ff0505;
    font-weight: 700;
}

.remove-button:hover,
.remove-button:active,
.remove-button:focus {
    background: #cc0101;
    color: #fff;
    border: 3px solid #cc0101;
    transition: .4s ease-in-out;
}

/* CODE FROM https://www.w3schools.com/howto/howto_css_hide_arrow_number.asp */

/* Remove Arrows/Spinners */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* ---------------------- BOOTSRAP TOASTS ---------------------- */

.message-container {
    position: fixed;
    top: 7rem;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

.toast-header button {
    border: none;
    background-color: #fff;
    margin-bottom: 0.2rem;
    margin-left: auto;
}

.toast-header button span {
    font-size: 1.1rem;
    color: #222;
}

.toast-body .add-button {
    width: 100%;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}


/* ---------------------- BUTTONS ---------------------- */

.shop-now-button {
    color: #764c87;
    min-width: 180px;
    font-weight: 700;
    border: 3px solid #764c87;
}

.add-button {
    background: #764c87;
    color: #fff;
    min-width: 180px;
    font-weight: 700;
    border: 3px solid #764c87;
}

/* BUTTON HOVER */

.add-button:hover,
.add-button:active,
.add-button:focus {
    background: #492857;
    color: #fff;
    border: 3px solid #492857;
    transition: .4s ease-in-out;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus {
    background: #764c87;
    color: #fff;
    transition: .4s ease-in-out;
}

#myBtn:hover,
#myBtn:active,
#myBtn:focus {
    background: #444;
    color: #fff;
    transition: .4s ease-in-out;
}

/* ---------------------- QUANTITY SELECTOR  ---------------------- */
/* --------------For bag.html & product_detail.html --------------- */

input#id_qty_2 {
    border: 0;
}

.qty_input {
    padding-left: 0;
    padding-right: 0;
    background-color: #764c87;
    border: 1px solid #764c87;
    color: #fff;
}

.input-group-prepend {
    margin: 0;
}

.increment-qty,
.decrement-qty {
    background: #764c87!important;
    color: #fff;
    padding-top: 8px;
    padding-bottom: 8px;
}

.decrement-qty.btn:disabled {
    opacity: 1!important;
    color: #764c87;
}


.increment-qty:focus,
.decrement-qty:focus,
.qty_input:focus {
    border-color: none!important;
    box-shadow: none!important;
    outline: 0 none!important;
}

input#id_qty_25 {
    border: 0;
}

.increment-qty:hover,
.decrement-qty:hover {
    background: #492857!important;
    color: #fff!important;                
    transition: .4s ease-in-out!important;
}

/* ---------------------- ADDITIONAL STYING ---------------------- */
.uppercase {
    text-transform: uppercase;
}

.dot {
    color: #764c87!important;
}

.footer-top {
    background-color: #333;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: #fff;
    z-index: -1;
}

select,
select option {
    color: #222;
}

select:invalid,
select option[value=""] {
    color: #6c757d!important;
}

.text-lilac {
    color: #764c87;
}

.border-0 {
    border: 0!important;
}

/* --------------KEYFRAMES--------------- */

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


/* ---------------------- BORROWED CODE ---------------------- */

/* Code borrowed from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_scroll_to_top */
/* Back to top btn */
#myBtn {
    display: none;
	position: fixed;
    padding-left: .5rem;
    padding-right: .5rem;
	bottom: 20px;
	right: 30px;
	z-index: 99;
	border: none;
    border-radius: 50%;
	outline: none;
	background-color: #333;
    color: rgba(255, 255, 255, 0.699);
	cursor: pointer;
	font-size: 1.5rem;
    box-shadow: 0px 7px 8px -6px rgba(0,0,0,0.79);
    animation: fadeIn 1s ease-in-out;
    animation-iteration-count: 1;
}

#myBtn i {
    padding-bottom: .5rem;
}

