@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

html {
    height: 100%;
}

body {
    background-color: #fff;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
    color: #222831;
    scroll-behavior: smooth ;
    /* background: url('/media/rail.jpg') no-repeat center center fixed;
    background-size: cover;  */
    height: calc(100vh - 164px);
}

footer {
    /* border-top: 2px solid #EEEEEE; */
    background-color: #222;
    color: #fff;
    height: 200px;
}

.uppercase {
    text-transform: uppercase;
}
/* ---------------------- BACKGROUND COLORS ---------------------- */

.bg-shopnow {
    background-color: #fff;
}

/* ---------------------- NAVBAR ---------------------- */

#topnav {
    height: 6rem;
}

a.nav-link {
    font-size: .7rem;
    font-weight: 800;
    color: black!important;
}

.navbar-light .navbar-toggler {
    color: rgba(0,0,0,.55);
    border-color: rgba(255, 255, 255, 0);
}

.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: 0 0 0 0.1rem;
}

.bg-light {
    background-color: rgb(255, 255, 255)!important;
}

.mobile-top-header li {
    padding-top: 1.3rem;
}

.dropdown-menu a {
    font-weight: 700;
    text-transform: capitalize;
}

#delivery-banner {
    background-color: #222;
    color: #fff;
}


.dropdown-menu.show {
    display: block;
}
.border-0 {
    border: 0!important;
}

.dropdown-search {
    background-color: #fff!important;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 0.25rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    left: 0;
}

.dropdown-search .form-control {
    border: 0!important;
    font-weight: 700;
    padding-left: 0;
}

.dropdown-search .input-group {
    border-bottom: 2px solid rgba(34, 34, 34, 0.466)!important;
}

.dropdown-search .input-group:hover {

}
.dropdown-search p {
    margin-bottom: .5rem;
}

.dropdown-menu {
    background-color: #fff!important;
}

.navbar-brand h2 {
    font-family: 'Pacifico', sans-serif;
    color: #222!important;
    text-decoration: underline #222;
}

a.nav-link.main-logo-link.navbar-brand {
    padding-top: 1.5rem;
}

.main-nav-logo {
    font-size: 2rem;
}

li.nav-item {
    line-height: 1rem;
} 

#mobile-nav h2 {
    margin-left: 7rem;
}

.dropdown-menu button {
    font-size: 1.5rem;
    margin-left: .5rem;
}

.dropdown-menu button:hover {
    color: #764c87;
    transition: .5s ease-in-out;
}

.dropdown-search input[type="text"]:focus {
    border-color: none!important;
    box-shadow: none!important;
    outline: 0 none;
}

/* ---------------------- CONTAINERS ---------------------- */

.search-container {
    text-align: end;
    text-transform: capitalize;
} 

.shopping-bag-continer,
.details-container  {
    min-height: 80vh;
}

/* ---------------------- ADDITIONAL STYING ---------------------- */

.dot {
    color: #764c87!important;
}

.footer-top {
    background-color: #333;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: #fff;
    z-index: -1;
}


/* ---------------------- HOVER ---------------------- */

a.nav-link:hover {
    color: #764c87!important;
    transition: 4ms ease-in-out;
    text-decoration: underline;
}

.navbar-brand h2:hover {
    color: #764c87!important;
    /* text-shadow: -2px -1px 0px #764c87; */
    transition: 8ms ease-in-out;
}

/* ---------------------- MEDIA QUERIES ---------------------- */

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    a.nav-link {
        padding-left: .1rem;
        padding-right: .1rem;
    }

    #delivery-banner h4 {
        font-size: .8rem;
    }

    #mobile-nav h2 {
        margin: 0;
    }
    
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    a.nav-link {
        padding-left: .1rem;
        padding-right: .1rem;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    #main-nav a.nav-link {
        font-size: 1.5rem;
        padding-top: 1.4rem;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    a.nav-link {
        padding-left: .3rem;
        padding-right: .3rem;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    a.nav-link {
        padding-left: .8rem;
        padding-right: .8rem;
    }
}

/* XX-large devices (xx-large desktops, 1400px and up) */
@media (min-width: 1400px) {
    a.nav-link {
        font-size: .9rem;
        padding-left: .9rem;
        padding-right: .9rem;
    }
}


/* ---------------------- INDEX.HTML ---------------------- */

.hero-container {
    min-height: 70vh;
}

.hero-container h1 {
    font-weight: 700;
    padding-top: 15rem;
}


a#shopnow {
    text-decoration: none;
    color: black;
}

#delivery-banner h4 {
    font-weight: 700;
}

#shopnow {
    position: relative;
    text-align: center;
    min-height: 15rem;
    padding-bottom: 12px;
    padding-top: 12px;
    padding-left: 6px;
    padding-right: 6px;
}


#shopnow-inner {
    position: relative;
    background-color: #222;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    color:#fff;
    box-shadow: 8px 5px 18px -3px rgba(0,0,0,0.70);
}

#shopnow-inner h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 700;
    color: white;
}

.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 85%;
    width: 90%;
    border-radius: 15px;
    opacity: 0;
    background-color: rgba(34, 34, 34, 0.85);
}

.middle h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
}

.middle:hover {
    transition: .5s ease-in-out;
    opacity: 1;
}

@media (max-width: 426.98px) {
    #shopnow {
        min-height: 9rem;
    }
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .middle {  
        height: 80%;
    }

    #shopnow-inner img {
        width: 3rem;
        height: 3rem;
    }

    .middle h1 {
        font-size: 1.2rem;
    }

    .header-container {
        padding-top: 5rem;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    #shopnow:first-child,
    #shopnow:nth-child(2),
    #shopnow:nth-child(3),
    #shopnow:nth-child(4) {
        padding-bottom: 6px;
    }

    #shopnow:nth-child(3),
    #shopnow:nth-child(4),
    #shopnow:nth-child(5),
    #shopnow:last-child {
        padding-top: 6px;
    }

}


/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #shopnow:first-child,
    #shopnow:nth-child(2),
    #shopnow:nth-child(3) {
        padding-bottom: 6px;
    }

    
    #shopnow:nth-child(3) {
        padding-top: 12px;
    }

    #shopnow:nth-child(4) {
        padding-bottom: 12px;
    }

    #shopnow:last-child,
    #shopnow:nth-child(4),
    #shopnow:nth-child(5) {
        padding-top: 6px;
    }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) { 
    .header-container {
        padding-top: 5rem;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #shopnow:first-child,
    #shopnow:nth-child(2),
    #shopnow:nth-child(3) {
        padding-bottom: 12px;
    }

    #shopnow:last-child,
    #shopnow:nth-child(4),
    #shopnow:nth-child(5) {
        padding-top: 12px;
    }

    #shopnow {
        min-height: 10rem;
    }
    #shopnow-inner h1 {
        font-size: 1.8rem;
    }

    #shopnow-inner img {
        width: 2rem;
        height: 2rem;
    }

    .middle h1 {
        font-size: 1.2rem;
    }

}

@media (min-width: 1400px) {
    #shopnow {
        min-height: 15rem;
    }

    #shopnow-inner img {
        width: 3.1rem;
        height: 3.1rem;
    }

    .middle h1 {
        font-size: 2.5rem;
    }
}


.shopnow-container {
    margin: 0 auto;
}

.shop-now-button {
    background: #764c87;
    color: #fff;
    min-width: 180px;
    font-weight: 700;
    border: 3px solid #764c87;
}

.add-button {
    color: #764c87;
    min-width: 180px;
    font-weight: 700;
    border: 3px solid #764c87;
}

.add-button:hover,
.add-button:active,
.add-button:focus {
    background: #764c87;
    color: #fff;
    transition: .4s ease-in-out;
}


.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus{
    background: #492857;
    color: #fff;
    border: 3px solid #492857;
}

/* ---------------------- PRODUCTS.HTML ---------------------- */

.product-container {
    min-height: 80vh;
}

.product-header h1 {
    font-size: 4rem;
    font-weight: 700;
}

.img-fluid {
    border: #222 solid 1px;
}

.img-container {
    padding: 1rem;
}

.img-card {
    border: #222 solid 1px;
}

.card-body p {
    font-weight: 700;
    text-transform: uppercase;
}

.card-footer {
    background-color: #fff;
}

.card-footer p {
    font-size: small;
    font-weight: 700;
}

.card-footer a {
    color: #222831;
    text-decoration: none;
}

.current-category {
    text-decoration: none;
    color: #222831;
    font-weight: 700;
    font-size: 4rem;
    text-transform: capitalize;
}
.current-category:hover,
.small a:hover {
    color: #764c87!important;
    transition: 4ms ease-in-out;
}

.custom-select {
    padding: .5rem;
}

.small a {
    color: #222831;
}

@media (min-width: 992px) {
    .product-header.col.text-center {
        padding-top: 5rem;
    }
}

/* ---------------------- ACCOUNTS ---------------------- */


.account-header {
    margin-top: 10rem;
}

.account-container {
   min-height: 80vh;
}

.account-container .form-control {
    margin-bottom: 1rem;
}

.account-container p {
    margin-top: 1rem;
}

.account-container p a {
    color: #222831;
}

.account-container a {
    color: #222831;
    font-weight: 700;
}

.account-container p a:hover,
.account-container p a:active,
.account-container p a:focus,
.account-container a:hover,
.account-container a:active,
.account-container a:focus {
    color: #764c87!important;
    transition: .4s ease-in-out;
}

.account-container button {
    margin-top: 1rem;
    width: 100%;
}

.form-check-input:checked {
    background-color: #764c87;
    border-color: #764c87;
}

.account-button {
    color: #764c87;
    min-width: 180px;
    font-weight: 700;
    border: 3px solid #764c87;
}

.account-button:hover,
.account-button:active,
.account-button:focus {
    background: #764c87;
    color: #fff;
    transition: .4s ease-in-out;
}

/* ---------------------- PRODUCT_DETAILS.HTML ---------------------- */

.product-details-container h1 {
    font-size: 4rem;
    font-weight: 700;
}

.product-details-container p:nth-child(2) {
    font-size: 2rem;
}

.product-details-container a {
    color: #222831;
    text-decoration: none;
}

.increment-qty,
.decrement-qty {
    background: #fff;
    color: #222;
}

.increment-qty:hover,
.decrement-qty:hover {
    background: #EEEEEE;
    color: #222;
}

.accordion {
    border-top: 1px solid #222;
    border-bottom: 1px solid #222;
    padding-top: .2rem;
    padding-bottom: .2rem;
}

.accordion-button:focus {
    z-index: 3;
    border-color: #fff;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(27, 26, 26, 0);
}

.accordion-button:hover {
    z-index: 2;
}
.accordion-button:not(.collapsed) {
    color: #222;
    background-color: #fff;
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}


.accordion-button:after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23222'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}

input#id_qty_25 {
    border: 0;
}

/* ---------------------- BAG.HTML ---------------------- */

.update-link,
.remove-item {
    cursor: pointer;
}

.shopping-bag-continer {
    padding-top: 7rem;
}

td.pb-3.align-middle.qty {
    padding-top: 30px;
}

.shopping-bag-continer .form-control {
    text-align: center;
}

input#id_qty_2 {
    border: 0;
}

/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

.toast button {
    background: #764c87;
    float: right;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}


/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}
