.managment-header {
    margin-top: 10rem;
}

.add-edit-container {
    min-height: 60vh;
}

.add-edit-container .form-control {
    margin-bottom: 1rem;
    color: #222;
}

.add-edit-container p {
    margin-top: 1rem;
}

.add-edit-container p a {
    color: #222831;
}

/* ---------------------- PRODUCT FORM ---------------------- */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #FF0505;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #FF0505;
    border-color: #FF0505;
    border-radius: 0;
}
