.details-container  {
    min-height: 80vh;
    margin-top: 10rem;
}

.product-details-container h1 {
    font-weight: 700;
}

.product-details-container p:nth-child(2) {
    font-size: 2rem;
}

.qty_input {
    padding-left: 0;
    padding-right: 0;
    max-width: 43.5px;
}

.add-button {
    width: calc(100% - 123.5px);
    border: none;
    background: #764c87;
    color: #fff;
    margin-right: 3px;
}

.input-group-prepend {
    margin: 0;
}

.keep-shoping-button {
    color: #764c87;
    min-width: 180px;
    font-weight: 700;
    border: 3px solid #764c87;
    width: 100%;
}

.increment-qty,
.decrement-qty {
    background: #764c87;
    color: #fff;
    padding-top: 8px;
    padding-bottom: 8px;
}

.decrement-qty.btn:disabled {
    opacity: 1!important;
    color: #764c87;
}

.increment-qty:hover,
.decrement-qty:hover,
.add-button:hover {
    background: #492857;
    color: #fff;
    transition: .4s ease-in-out;
}

.increment-qty:focus,
.decrement-qty:focus,
.add-button:focus,
.qty_input:focus {
    border-color: none!important;
    box-shadow: none!important;
    outline: 0 none!important;
}

.keep-shoping-button:hover,
.keep-shoping-button:active,
.keep-shoping-button:focus {
    background: #764c87;
    color: #fff;
    transition: .4s ease-in-out;
}

.accordion {
    border-top: 1px solid #222;
    border-bottom: 1px solid #222;
    padding-top: .2rem;
    padding-bottom: .2rem;
}

.accordion a {
    color: #222831;
    text-decoration: none;
    font-weight: 700;
}

.accordion-button:focus {
    z-index: 3;
    border-color: #fff;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(27, 26, 26, 0);
}

.accordion-button:hover {
    z-index: 2;
}
.accordion-button:not(.collapsed) {
    color: #222;
    background-color: #fff;
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}


.accordion-button:after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23222'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}

input#id_qty_25 {
    border: 0;
}

/* ---------------------- MEDIA QUERIES ---------------------- */

/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .details-container  {
        min-height: 80vh;
        margin-top: 6rem;
    }

    .product-details-container h1 {
        font-size: 2rem;
    }
    .add-button {
        min-width: 50%;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .product-details-container h1 {
        font-size: 3rem;
    }

    .shop-now-button {
        margin-right: 1rem;
    }
}

/* Small devices (landscape phones, less than 768px) */


/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 

}