.details-container  {
    min-height: 80vh;
    margin-top: 10rem;
}

.product-details-container h1 {
    font-weight: 700;
}

.price {
    font-size: 2rem;
}

a {
    text-decoration: none;
}
.qty_input {
    padding-left: 0;
    padding-right: 0;
    max-width: 43.5px;
}

.add-button {
    width: calc(100% - 123.5px);
    border: none;
    background: #764c87;
    color: #fff;
    margin-right: 3px;
}

.input-group-prepend {
    margin: 0;
}

.keep-shoping-button {
    color: #764c87;
    min-width: 180px;
    font-weight: 700;
    border: 3px solid #764c87;
    width: 100%;
}

.increment-qty,
.decrement-qty {
    background: #764c87;
    color: #fff;
    padding-top: 8px;
    padding-bottom: 8px;
}

.decrement-qty.btn:disabled {
    opacity: 1!important;
    color: #764c87;
}

.increment-qty:hover,
.decrement-qty:hover,
.add-button:hover {
    background: #492857;
    color: #fff;
    transition: .4s ease-in-out;
}

.increment-qty:focus,
.decrement-qty:focus,
.add-button:focus,
.qty_input:focus {
    border-color: none!important;
    box-shadow: none!important;
    outline: 0 none!important;
}

.keep-shoping-button:hover,
.keep-shoping-button:active,
.keep-shoping-button:focus {
    background: #764c87;
    color: #fff;
    transition: .4s ease-in-out;
}

input#id_qty_25 {
    border: 0;
}

/* ---------------------- MEDIA QUERIES ---------------------- */

/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .details-container  {
        min-height: 80vh;
        margin-top: 6rem;
    }

    .product-details-container h1 {
        font-size: 2rem;
    }
    .add-button {
        min-width: 50%;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .product-details-container h1 {
        font-size: 3rem;
    }

    .shop-now-button {
        margin-right: 1rem;
    }
}

/* Small devices (landscape phones, less than 768px) */


/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 

}

/* CODE FROM https://www.w3schools.com/howto/howto_css_hide_arrow_number.asp */

/* Remove Arrows/Spinners */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}