.details-container  {
    min-height: 80vh;
    margin-top: 10rem;
}

.product-details-container h1 {
    font-weight: 700;
}

.price {
    font-size: 2rem;
}

a {
    text-decoration: none;
}

.qty_input {
    max-width: 43.5px;
}

.review-form-container a {
    text-decoration: underline;
    color: #222;
    font-weight: 700;
}

/* ---------------------- BUTTONS ---------------------- */

.add-button {
    width: calc(100% - 123.5px);
    border: none;
    margin-right: 3px;
}

.keep-shoping-button {
    color: #764c87;
    min-width: 180px;
    font-weight: 700;
    border: 3px solid #764c87;
    width: 100%;
}

.review-button {
    background: #764c87;
    color: #fff;
    min-width: 180px;
    font-weight: 700;
    border: 3px solid #764c87;
}

/* ---------------------- HOVER ---------------------- */

.keep-shoping-button:hover,
.keep-shoping-button:active,
.keep-shoping-button:focus {
    background: #764c87;
    color: #fff;
    transition: .4s ease-in-out;
}

.add-button:hover {
    border: none;
}

.review-button:hover,
.review-button:active,
.review-button:focus {
    background: #492857;
    color: #fff;
    border: 3px solid #492857;
    transition: .4s ease-in-out;
}

.review-form-container a:hover,
.review-form-container a:active,
.review-form-container a:focus {
    color: #764c87;
    transition: .4s ease-in-out;
}


/* ---------------------- MEDIA QUERIES ---------------------- */

/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .details-container  {
        min-height: 80vh;
        margin-top: 6rem;
    }

    .product-details-container h1 {
        font-size: 2rem;
    }

    .add-button {
        min-width: 50%;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .product-details-container h1 {
        font-size: 3rem;
    }

    .shop-now-button {
        margin-right: 1rem;
    }
}

/* MEDIA QUERIES LANDSCAPED PHONES */

@media only screen and (min-width: 279px) and (max-width: 736px) and (orientation: landscape) {
    .details-container {
        width: 70%;
        margin-top: 7rem;
    }
    .image-container {
        width: 50%;
    }
}

@media only screen and (min-width: 375px) and (max-width: 823px) and (orientation: landscape) {
    .details-container {
        width: 70%;
        margin-top: 7rem;
    }
}