
.product-container {
    min-height: 80vh;
}

.product-header h1 {
    font-size: 4rem;
    font-weight: 700;
}

.img-fluid {
    border: #222 solid 1px;
}

.img-container {
    padding: 1rem;
}

.img-card {
    border: #222 solid 1px;
}

.card-body p {
    font-weight: 700;
    text-transform: uppercase;
}

.card-footer {
    background-color: #fff;
}

.card-footer p {
    font-size: small;
    font-weight: 700;
}

.card-footer a {
    color: #222831;
    text-decoration: none;
}

.current-category {
    text-decoration: none;
    color: #222831;
    font-weight: 700;
    font-size: 4rem;
    text-transform: capitalize;
}

.current-category:hover,
.small a:hover {
    color: #764c87!important;
    transition: 4ms ease-in-out;
}

.custom-select {
    padding: .5rem;
}

.small a {
    color: #222831;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .product-header.col.text-center {
        margin-top: 4rem;
    }

    .card {
        padding: 0!important;
    }

    .product-header a,
    .product-header h1 {
        font-size: 2rem;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .product-header.col.text-center {
        margin-top: 4rem;
    }
}

@media (min-width: 992px) {
    .product-header.col.text-center {
        margin-top: 5rem;
    }
}


@media only screen and (min-width: 279px) and (max-width: 736px) and (orientation: landscape) {
    .product-header a,
    .product-header h1 {
        font-size: 2rem;
    }
}

@media only screen and (min-width: 375px) and (max-width: 823px) and (orientation: landscape) {
    .product-header a,
    .product-header h1 {
        font-size: 2rem;
    }
}