<div class="collapse navbar-collapse" id="main-nav">
    <ul class="list-unstyled my-0 uppercase d-block d-lg-none">
        <li class="nav-item">
            <a href="" class="nav-link">Skate Decks</a>
        </li>
        <li class="nav-item">
            <a href="" class="nav-link">Wheels</a>
        </li>
        <li class="nav-item">
            <a href="" class="nav-link">Trucks</a>
        </li>   
        <li class="nav-item">
            <a href="" class="nav-link">Bearings</a>
        </li>
        <li class="nav-item">
            <a href="" class="nav-link">Griptape</a>
        </li>
        <li class="nav-item">
            <a href="" class="nav-link">Misc</a>
        </li>
    </ul>
</div>