<!-- NAVIGATION ITEMS FOR BURGER MENU -->
<div class="collapse navbar-collapse" id="main-nav">
    <ul class="list-unstyled my-0 d-block d-lg-none">
        <li class="nav-item">
            <a href="{% url 'home' %}" class="nav-link main-logo-link navbar-brand d-sm-none d-lg-block">
                <h2 class="logo-font text-black my-0 text-center main-nav-logo">SkateStore<span class="dot">.</span></h2>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'products' %}?category=decks" class="nav-link">Decks</a>
        </li>
        <li class="nav-item">
            <a href="{% url 'products' %}?category=wheels" class="nav-link">Wheels</a>
        </li>
        <li class="nav-item">
            <a href="{% url 'products' %}?category=trucks" class="nav-link">Trucks</a>
        </li> 
        <li class="nav-item">
            <a href="{% url 'products' %}?category=bearings" class="nav-link">Bearings</a>
        </li>
        <li class="nav-item">
            <a href="{% url 'products' %}?category=griptape" class="nav-link">Griptape</a>
        </li>
        <li class="nav-item">
            <a href="{% url 'products' %}?category=misc" class="nav-link">Misc</a>
        </li>
    </ul>
</div>