.shopping-bag-continer {
    min-height: 80vh;
    padding-top: 7rem;
}

.shopping-bag-continer .form-control {
    text-align: center;
}

.bag-item-container {
    display: flex;
    position: relative;
}

.pb-3.align-middle.qty {
    padding-top: 30px;
}

.update,
.remove-item {
    cursor: pointer!important;
}

.item-info {
    padding-left: 1rem;
}

.update {
    width: 100%;
    background-color: #000;
}

.update-link {
    margin-top: .1rem;
    text-decoration: none;
}

a.remove-item {
    position: absolute;
    right: 6px;
    top: 1px;
}
 
.grand-total {
    font-size: 1.5rem;
}
