{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'products/css/add_edit_product.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container managment-header">
    <div class="row">
        <div class="col-12 col-md-6 offset-md-3">
            <h2 class="logo-font mb-4">Product Management</h2>
            <h5 class="text-muted">Add a Product</h5>
            <hr>
        </div>
    </div>
    <!-- ADD PRODUCT -->
    <div class="row add-edit-container">
        <div class="col-12 col-md-6 offset-md-3 mt-5">
            <form method="POST" action="{% url 'add_product' %}" class="form mb-2" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                    {% if field.name != 'image' %}
                        {{ field | as_crispy_field }}
                    {% else %}
                        {{ field }}
                    {% endif %}
                {% endfor %}
                <div class="text-right">
                    <!-- ADD BUTTON -->
                    <button class="btn btn-md rounded-0 account-secoundary-btn" type="submit">Add Product</button>
                    <a class="btn btn-md rounded-0 remove-button" href="{% url 'products' %}">Cancel</a> 
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}

{% block poastloadjs %}
    {{ block.super }}
    <script type="text/javascript">
        // DISPLAYES A PREVIEW OF THE IMAGE
        $('#new-image').change(function () {
            var file = $('#new-image')[0].files[0];
            $('#filename').text(`Image will be set to: ${file.name}`);
        });
    </script>
{% endblock %}