{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'products/css/product_detail.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="details-container container-fluid">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
            <!-- PRODUCT IMAGE -->
            <div class="image-container my-5">
                {% if product.image %}
                <a href="{{ product.image.url }}" target="_blank">
                    <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                </a>
                {% else %}
                <a href="">
                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                </a>
                {% endif %}
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="product-details-container mb-5 mt-md-5">
                <div class="row">
                    <div class="col-12 d-flex justify-content-between">
                        <!-- CURRENT CATEGORY -->
                        {% if product.category %}
                        <a class="text-black" href="" data-toggle="modal" data-target="#exampleModal">
                            {{ product.category.friendly_name }}
                        </a>
                        {% endif %}
                    </div>
                </div>
                <!-- PRODUCT NAME & PRICE -->
                <h1 class="mb-0 uppercase">{{ product.name }}</h1>
                <p class="mb-0 text-left price">${{ product.price }}</p>
                <!-- SCROLL TO DETAILS ON LG AND UP -->
                <a class="text-black" href="#details-section"><i class="fas fa-chevron-down"></i> Details</a>
                <div class="row">
                    <div class="col">
                        {% if request.user.is_superuser %}
                        <small class="ml-3">
                            <a class="text-black" href="{% url 'edit_product' product.id %}">Edit</a> |
                            <a class="text-danger" href="{% url 'delete_product' product.id %}">Delete</a>
                        </small>
                        {% endif %}
                    </div>
                </div>
                <!-- DISPLAY IF ITEM WILL GIVE FREE DELIVERY -->
                {% if product.price > 50 %}
                <hr>
                <p class="text-center text-lilac">This item qualifies for FREE DELIVERY!</p>
                <hr>
                {% endif %}
                <!-- QUANTITY & SIZE SELECTOR -->
                <form class="form" action="{% url 'add_to_bag' product.id %}" method="POST">
                    {% csrf_token %}
                    <div class="form-row">
                        {% with product.has_sizes as s %}
                        {% if s %}
                        <div class="col-12">
                            <p><strong>Size:</strong></p>
                            <select class="form-control rounded-0 w-50" name="product_size" id='id_product_size'>
                                <option value="xs">XS</option>
                                <option value="s">S</option>
                                <option value="m" selected>M</option>
                                <option value="l">L</option>
                                <option value="xl">XL</option>
                            </select>
                        </div>
                        {% endif %}
                        <div class="col-12 mt-5">
                            <div class="form-group w-100">
                                <div class="input-group">
                                    <!-- ADD TO BAG BUTTON -->
                                    <input type="submit" class="add-button btn btn-sm rounded-0 text-uppercase py-2"
                                        value="Add to Bag">
                                    <div class="input-group-prepend">
                                        <button class="decrement-qty btn rounded-0" data-item_id="{{ product.id }}"
                                            id="decrement-qty_{{ product.id }}" aria-label="decrement quantity button">
                                            <span class="icon">
                                                <i class="fas fa-minus"></i>
                                            </span>
                                        </button>
                                    </div>
                                    <input class="form-control qty_input text-center" type="number" name="quantity"
                                        value="1" min="1" max="99" data-item_id="{{ product.id }} "
                                        id="id_qty_{{ product.id }}" aria-label="quantity input">
                                    <div class="input-group-append">
                                        <button class="increment-qty btn rounded-0" data-item_id="{{ product.id }}"
                                            id="increment-qty_{{ product.id }}" aria-label="increment quantity button">
                                            <span class="icon">
                                                <i class="fas fa-plus"></i>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <!-- KEEP SHOPPING BUTTON -->
                            <a href="{% url 'products' %}" class="keep-shoping-button rounded-0 btn btn-sm py-2 mt-3">
                                <span class="icon">
                                    <i class="fas fa-chevron-left"></i>
                                </span>
                                <span class="text-uppercase">Keep Shopping</span>
                            </a>
                        </div>
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        {% endwith %}
                    </div>
                </form>
                <!-- DETAILS & SHIPPING INFORMATION DISPLAYED FROM MD AND DOWN -->
                <div class="col-12 mt-5 d-block d-md-none">
                    {% include 'products/includes/details.html' %}
                </div>
                <div class="col-12 mt-5 d-block d-md-none">
                    {% include 'products/includes/shipping.html' %}
                </div>
            </div>
        </div>
        <!-- DETAILS & SHIPPING INFORMATION DISPLAYED FROM LG AND UP -->
        <div class="row">
            <div class="col-md-6 col-lg-4 offset-lg-2 d-none d-md-block" id="details-section">
                {% include 'products/includes/details.html' %}
            </div>
            <div class="col-md-6 col-lg-4 d-none d-md-block">
                {% include 'products/includes/shipping.html' %}
            </div>
        </div>
        <!-- REVIEWS  -->
        <div class="row mt-5">
            <div class="col-12 col-md-8 offset-md-2">
                <h3 class="uppercase text-center">User reviews</h3>
            </div>
            {% for review in reviews.all %}
            <div class="col-12 col-md-8 offset-md-2">
                <hr>
            </div>
            <div class="col-12 col-md-2 offset-md-2">
                {{ review.review_rating }}/5
                <p><strong>{{ review.review_title }}</strong></p>
                <small>By: <strong>{{ review.user }}</strong></small> <br>
                <small>Review date: {{ review.date|date:"d-m-y" }}</small>
            </div>
            <div class="col-12 col-md-6 review-container">
                <p class="pt-4">{{ review.review }}</p>
            </div>
            {% empty %}
            <p class="text-center">Nobody has yet reviewed this product from <strong
                    class="uppercase">"{{ product.name }}"</strong> yet!</p>
            {% endfor %}
        </div>
        <!-- REVIEW FORM -->
        <div class="row mt-5 mb-5 review-form-container">
            <div class="col-12 col-md-6 offset-md-3">
                {% if request.user.is_authenticated %}
                <form method="POST" action="{% url 'add_review' product.id %}">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="text-center mt-3">
                        <button class="review-button btn btn-sm rounded-0 text-uppercase py-2" type="submit">Add
                            Review</button>
                    </div>
                </form>
                {% endif %}
                {% if not request.user.is_authenticated %}
                <p class="text-center"><a href="{% url 'account_signup' %}" class="">Sign Up</a>
                    or
                    <a href="{% url 'account_login' %}" class="">Sign In</a> to review the product!</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}
{% endblock %}